a, abbr, acronym, address, applet, b, big, blockquote, body, button, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, title, tr, tt, u, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    height: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #afafaf;
    }

.app {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(../../data/images/wallpaper_abstract_white.jpg);
    background-size: auto auto;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.hidden {
    display: none;
}

.app-contents {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.animate-when-document-loaded {
    opacity: 0;
}

    .animate-when-document-loaded.visible {
        opacity: 1;
        -moz-animation: element-fadein-from-bottom 0.5s ease;
        -o-animation: element-fadein-from-bottom 0.5s ease;
        -webkit-animation: element-fadein-from-bottom 0.5s ease;
        animation: element-fadein-from-bottom 0.5s ease;
    }

@keyframes element-fadein-from-bottom {
    0% {
        opacity: 0;
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }

    50% {
        /*opacity: 1;*/
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}