<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Default configurations -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Discord Custom RPC">
    <meta name="description" content="Create your custom Discord RPC Status">
    <meta name="author" content="©Discord Custom RPC">
    <meta name="theme-color" content="#fff">
    <meta itemprop="name" content="Discord Custom RPC">
    <meta itemprop="description" content="Create your custom Discord RPC Status">

    <!-- Twitter meta configurations. -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Discord Custom RPC">
    <meta name="twitter:description" content="Create your custom Discord RPC Status">
    <meta name="twitter:site" content="@Discord Custom RPC">
    <meta name="twitter:creator" content="@Discord Custom RPC">

    <!-- OG meta configurations.  -->
    <meta property="og:title" content="Discord Custom RPC">
    <meta property="og:description" content="Create your custom Discord RPC Status">
    <meta property="og:image:width" content="100">
    <meta property="og:image:height" content="100">
    <meta property="og:site_name" content="Discord Custom RPC">
    <meta property="og:locale" content="en_EN">

    <title>Discord Custom RPC</title>

    <link href="css/static/static.essentials.css" rel="stylesheet" type="text/css" />
    <link href="css/static/static.titlebar.css" rel="stylesheet" type="text/css" />
    <link href="css/static/static.navbar.css" rel="stylesheet" type="text/css" />
    <link href="css/static/static.loader.css" rel="stylesheet" type="text/css" />
    <link href="css/static/static.toasts.css" rel="stylesheet" type="text/css" />

    <link href="css/main.css" type="text/css" rel="stylesheet" />

    <link href="data/fonts/index.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="app electron-application custom-discord-application main-application --foreground">
        <div class="container">
            <!-- Application contents -->

            <div class="app-loader">
                <div class="container">

                </div>
            </div>

            <div class="app-toasts-container">

                <!--<div class="app-toast">
                    <div class="container">

                        <div class="toast-icon">
                            <img src="data/images/discord.png"/>
                        </div>

                        <div class="toast-content">
                            <div class="toast-title">
                                <span>Update</span>
                            </div>
                            <div class="toast-hl"></div>
                            <div class="toast-details">
                                <span>Presence has been succesfully updated.</span>
                            </div>
                        </div>

                    </div>
                </div>-->

            </div>

            <div class="app-titlebar">
                <div class="container">

                    <div class="titlebar-draggable">

                        <div class="app-titlebar-title">
                            <span>Custom Discord RPC</span>
                        </div>

                    </div>

                    <div class="app-titlebar-controls">
                        <div class="app-titlebar-controls-control control-close"></div>
                        <div class="app-titlebar-controls-control control-maximize"></div>
                        <div class="app-titlebar-controls-control control-minimize"></div>
                    </div>

                </div>
            </div>

            <div class="app-navbar">
                <div class="container">

                    <div class="navbar-buttonlist">

                        <div class="navbar-buttonlist-button emit-event-button" socket-emit="app:update_presence">
                            <span>Update presence</span>
                        </div>
                        <div class="navbar-buttonlist-button emit-event-button">
                            <span>Settings</span>
                        </div>

                        <a href="https://github.com/babahgee/Custom-Discord-Rich-Presence/tree/master/Custom%20Discord%20Rich%20Presence/documentation" target="_blank">
                            <div class="navbar-buttonlist-button emit-event-button">
                                <span>Help</span>
                            </div>
                        </a>

                        <div class="navbar-buttonlist-button emit-event-button">
                            <span>App listener</span>
                        </div>

                        <div class="navbar-buttonlist-button emit-event-button">
                            <span>Check for updates</span>
                        </div>

                    </div>

                    <div class="navbar-user-profile">
                        
                        <div class="navbar-user-profile-button">
                            <div class="navbar-user-profile-picture">
                                <img src="" alt="What da dawg doing" />
                            </div>
                            <div class="navbar-user-profile-name">
                                <span></span>
                            </div>
                        </div>

                        <div class="navbar-user-profile-dropdown">
                            <div class="navbar-user-profile-dropdown-button" emit="app:logout"><span>Logout</span></div>
                            <div class="navbar-user-profile-dropdown-button" emit="app:reload"><span>Reload</span></div>
                            <div class="navbar-user-profile-dropdown-button" emit="app:close"><span>Exit</span></div>
                            <div class="navbar-user-profile-dropdown-button" emit="app:devtools"><span>Dev Tools</span></div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="app-contents">

                <div class="discord-visualizer-container">

                    <div class="discord-visualizer">

                        <div class="discord-visualizer-profile-container">

                            <div class="discord-visualizer-profile-picture">
                                <img src="./data/images/beans.jpg" alt="beans" />
                            </div>

                            <div class="discord-visualizer-profile-name">
                                <span>Your username<b>#1234</b></span>
                            </div>

                        </div>

                        <div class="discord-visualizer-status-container">

                            <div class="discord-visualizer-status-wrapper">

                                <div class="discord-visualizer-status-headertext">
                                    <span>Playing a game</span>
                                </div>

                                <div class="discord-visualizer-status-main">

                                    <div class="discord-visualizer-status-main-icon">
                                        <img src="data/images/discord.png" alt="Discord"/>
                                    </div>

                                    <div class="discord-visualizer-status-main-wrapper">

                                        <div class="discord-visualizer-status-main-appname">
                                            <span>Custom Discord RPC</span>
                                        </div>

                                        <div class="discord-visualizer-status-main-details">
                                            <span>Details here.</span>
                                        </div>

                                        <div class="discord-visualizer-status-main-details">
                                            <span>State here. (1 of 5)</span>
                                        </div>

                                        <div class="discord-visualizer-status-main-elapsedtime">
                                            <span>00:00 left</span>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                
                </div>

                <div class="discord-visualizer-interact-wrapper">

                    <div class="discord-visualizer-interact">

                        <div class="visualizer-inputfield" data-type="string" data-bind="details" data-id="inputfield-details" data-title="Details" contenteditable="true" spellcheck="false"></div>
                        <div class="visualizer-inputfield" data-type="string" data-bind="state" data-id="inputfield-state" data-title="State" contenteditable="true" spellcheck="false"></div>
                        <div class="visualizer-inputfield" data-type="string" data-bind="largeImageKey" data-id="inputfield-large_image_key" data-title="Large-image key" contenteditable="true" spellcheck="false"></div>
                        <div class="visualizer-inputfield" data-type="string" data-bind="smallImageKey" data-id="inputfield-small_image_key" data-title="Small-image key" contenteditable="true" spellcheck="false"></div>
                        <div class="visualizer-inputfield" data-type="string" data-bind="largeImageText" data-id="inputfield-large_image_text" data-title="Large-image text" contenteditable="true" spellcheck="false"></div>
                        <div class="visualizer-inputfield" data-type="string" data-bind="smallImageText" data-id="inputfield-small_image_text" data-title="Small-image text" contenteditable="true" spellcheck="false"></div>
                        <div class="visualizer-inputfield" data-type="number" data-interactive="date" data-bind="startTimestamp" data-id="inputfield-start_timestamp" data-title="Start timestamp" contenteditable="true" spellcheck="false"></div>
                        <div class="visualizer-inputfield" data-type="number" data-interactive="date" data-bind="endTimestamp" data-id="inputfield-end_timestamp" data-title="End timestamp" contenteditable="true" spellcheck="false"></div>

                        <div class="visualizer-button emit-event-button" socket-emit="app:update_presence">
                            <span>Update Presence</span>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>


    <script src="js/main.js" type="module"></script>
</body>
</html>