.login-container {
    width: 320px;
    height: 280px;
    position: absolute;
    inset: 0;
    margin: auto;
    background: none;
    padding: 20px;
}

.login-icon-wrapper {
    width: 100%;
    height: 90px;
}

.login-icon {
    width: 90px;
    height: 90px;
    margin: auto;
}

    .login-icon img {
        width: 100%;
        height: 100%;
        position: relative;
        pointer-events: none;
        border-radius: 10px;
    }


.login-inputfield {
    width: calc(70% - 44px);
    height: 20px;
    content: "";
    position: relative;
    padding: 10px 20px;
    margin: 30px auto;
    background: none;
    border-radius: 30px;
    border: 2px solid #3e3e3e;
    color: #fff;
    font-family: RobotoLight;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .login-inputfield:before {
        width: auto;
        height: auto;
        position: absolute;
        content: attr(data-title);
        top: 10px;
        left: 30px;
        font-family: 'RobotoLight';
        color: #adadad;
        font-size: 12px;
        background: none;
        padding: 0 7px;
        border-radius: 30px;
        user-select: none;
        pointer-events: none;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

    .login-inputfield:focus:before, .login-inputfield:not(:empty):before {
        top: -10px;
        font-size: 10px;
        background: #131221;
    }

    .login-inputfield:focus, .login-inputfield:not(:empty) {
        border: 2px solid #5865f2;
        background: #313052;
        width: calc(90% - 44px);
    }

    .login-inputfield.error {
        border: 2px solid #fe4a4a;
        background: #a33333;
    }

.login-button {
    width: 15px;
    height: 15px;
    content: "";
    position: relative;
    padding: 15px;
    background: none;
    margin: 20px auto;
    border: 2px solid #b7b7b7;
    border-radius: 50%;
    cursor: pointer;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .login-button:before {
        width: 15px;
        height: 15px;
        top: -2px;
        left: -2px;
        content: "";
        position: absolute;
        padding: 15px;
        border: 2px solid transparent;
        border-top: 2px solid #5865f2;
        border-bottom: 2px solid #5865f2;
        border-radius: 50%;
        opacity: 0;
        -moz-animation: button-spin 1s ease infinite;
        -o-animation: button-spin 1s ease infinite;
        -webkit-animation: button-spin 1s ease infinite;
        animation: button-spin 1s ease infinite;
    }

    .login-button img {
        width: 100%;
        height: 100%;
        pointer-events: none;
        user-select: none;
        -moz-filter: invert(1);
        -webkit-filter: invert(1);
        filter: invert(1);
        -moz-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
    }

    .login-button:hover {
        background: #5865f2;
        border: 2px solid #5865f2;
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        -webkit-transform: scale(.9);
        transform: scale(.9);
    }

        .login-button:hover img {
            -moz-filter: none;
            -webkit-filter: none;
            filter: none;
        }

@keyframes button-spin {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(calc(360deg * 3));
        -ms-transform: rotate(calc(360deg * 3));
        -o-transform: rotate(calc(360deg * 3));
        -webkit-transform: rotate(calc(360deg * 3));
        transform: rotate(calc(360deg * 3));
    }
}

.login-button.active {
    border: 2px solid transparent;
    background: none;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.login-button.active img {
    opacity: 0;
}

.login-button.active:before {
    opacity: 1;
}

.app-footer {
    width: 100vw;
    height: 40px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: none;
}

.app-footer-text {
    width: auto;
    height: auto;
    float: left;
    margin-top: 9px;
    margin-left: 20px;
}

    .app-footer-text span {
        font-family: RobotoLight;
        font-size: 10px;
        color: #000;
    }
        .app-footer-text span a {
            color: #000;
        }
